{include file='public/header'}

<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                          <span class="x-red"></span>所属分类
                    </label>
                    <input type="hidden" name="pttype_id" value="{$pttype.pttype_id}">
                    <input type="hidden" name="pid" value="{$pttype.pid}">
                    <input type="hidden" name="level" value="{$pttype.level}">
                    <input type="hidden" name="sort" value="{$pttype.sort}">
                    <div class="layui-input-inline">
                        <input type="text" name="ppttype_name" autocomplete="off" class="layui-input" value="{$pttype.pttype_name}" disabled="disabled">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="username" class="layui-form-label">
                          <span class="x-red"></span>分类名称
                      </label>
                    <div class="layui-input-inline">
                        <input type="text" id="typename" name="pttype_name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="">
                    </div>

                </div>
				<div class="layui-form-item">
					<label for="username" class="layui-form-label">
                          <span class="x-red"></span>分类图标
                      </label>
					<div class="layui-input-inline">
                        <button type="button" class="layui-btn" id="upload">
							  	<i class="layui-icon">&#xe67c;</i>上传图标
							</button>
                        <img id="img" src="__STATIC__{$Think.config.BGPIC}" width="120" height="90">
                    </div>
					<!-- 隐藏域，图片图片路径和缩略图路径 -->
	                <input type="hidden" name="pttype_img" id="pttype_img" lay-verify="required">
				</div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                      </label>
                    <button class="layui-btn" lay-filter="add" lay-submit="">
                          添加
                      </button>
                </div>
            </form>
        </div>
    </div>
    <script>
        layui.use(['form', 'layer', 'upload','jquery'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;
                var upload = layui.upload;

                //自定义验证规则
                form.verify({

                });
                
                var uploadInst = upload.render({
                    elem: '#upload' //绑定元素
                        ,
                    url: "{:url('Upload/img_upload')}" //上传接口
                        ,
                    done: function(res) {
                        if (res.code == 0) {
                            layer.msg('图片选择成功', {
                                icon: 1,
                                time: 1300
                            });
                            $("#pttype_img").val(res.img_url);
                            $("#img").attr("src", "{$Think.config.TITLE}" + res.thumb_url);
                        } else {
                            layer.msg('上传失败,请重试', {
                                icon: 2,
                                time: 1300
                            });
                        }
                    }
                });

                //监听提交
                form.on('submit(add)',
                    function(data) {
                        console.log(data);
                        //发异步，把数据提交给php
                        $.ajax({
                            type: "post",
                            url: "pttypeadd",
                            data: data.field,
                            success: function(d) {
                                if (d.code == 1) {
                                    layer.msg(d.msg, {
                                        icon: 1,
                                        time: 1300
                                    }, function() {
                                        //关闭当前frame
                                        xadmin.close();
                                        xadmin.father_reload();

                                    });
                                } else {
                                    layer.msg(d.msg, {
                                        icon: 2,
                                        time: 1300
                                    });
                                }
                            }
                        });

                        return false;
                    });

            });
    </script>
</body>

</html>