{include file="public/header" /}

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">妇幼营养管理</a>
                <a>
                    <cite>妇幼营养列表</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>
    <div class="layui-fluid">

        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form layui-form-pane layui-col-space5">
                            <div class="layui-form-item">
                                <label for="" class="layui-form-label">
                            食谱类别</label>
                                <div class="layui-input-inline">
                                    <select id="one" class="valid" lay-filter="one">
                            	<option value=""></option>
                            	{volist name="fytype" id="vo"}
                                <option value="{$vo.fytype_id}">{$vo.fytype_name}</option>
                                {/volist}
                    		</select>
                                </div>
                                <div class="layui-input-inline layui-form" lay-filter="twotop">
                                    <select id="two" lay-filter="two" name="">
                            	
                                <option value=""></option>
                                
                    		</select>
                                </div>
                                <div class="layui-input-inline layui-form" lay-filter="threetop">
                                    <select id="three" lay-filter="three" name="fytype_id">
                            	
                                <option value=""></option>
                                
                    		</select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label for="is_active" class="layui-form-label">
                            是否上架</label>
                                <div class="layui-input-inline">
                                    <select name="recipes_isoff" id="recipes_isoff">
                                    	<option value="">上架情况</option>
									  	<option value="1">上架食谱</option>
									  	<option value="2">下架食谱</option>
									</select>
                                </div>
                                <div class="layui-inline">
                                    <input type="text" id="recipes_name" name="recipes_name" placeholder="请输入菜品名称" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline">
                                    <button class="layui-btn" lay-filter="search" lay-submit="">
                                        <i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </div>
                        </form>

                        <table class="layui-table" id="test" lay-filter="test">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/html" id="toolbarDemo">
    <button class="layui-btn" lay-event='addrecipes'><i class="iconfont">&#xe6b9;</i>添加</button>
</script>
<script type="text/html" id="img">
    <img src="/xm{{ d.recipes_thumbimg }}">
</script>
<script type="text/html" id="check">
    <input type="checkbox" id="{{ d.recipes_id }}" name="recipes_isoff" value="1" lay-skin="switch" lay-text="下架|上架" lay-filter="recipes_isoff" {{ d.recipes_isoff==1 ? '': 'checked'}}>
</script>
<script type="text/html" id="fun">
    <a class="layui-btn layui-btn-xs" lay-event="show">查看/修改</a>
    <a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</a>
</script>
<script>
    layui.use(['table', 'form', 'jquery'],
        function() {
            var table = layui.table;
            var form = layui.form;
            var $ = layui.jquery;

            // 监听头部工具栏---添加妇幼营养
            table.on('toolbar(test)', function(obj) {
                    if (obj.event == "addrecipes") {
                        layer.open({
                                type: 2,
                                content: "fyAdd",
                                area: ['900px', '90%'],
                                end: function() {
                                    // 重载表格数据
                                    sTable.reload({
                                        page: {
                                            curr: 1
                                        }
                                    });
                                }
                            }) //open
                    }
                })
                // 监听右侧列工具栏---查看妇幼营养
            table.on('tool(test)', function(obj) {
                //console.log(obj);
                if (obj.event == "show") {
                    layer.open({
                        type: 2,
                        content: "fyDetail?recipes_id=" + obj.data.recipes_id,
                        area: ['900px', '90%']
                    })
                } else if (obj.event == "del") {
                    layer.confirm('确定要删除吗?', function(index) {
                        $.ajax({
                            type: "post",
                            url: "fyDel",
                            data: {
                                recipes_id: obj.data.recipes_id
                            },
                            success: function(d) {
                                if (d.code == 1) {
                                    layer.msg(d.msg, {
                                        icon: 1,
                                        time: 1300
                                    });
                                    obj.del();
                                } else {
                                    layer.msg(d.msg, {
                                        icon: 2,
                                        time: 1300
                                    });
                                }
                            }
                        });
                        layer.close(index);
                    });
                }
            });

            //监听switch
            form.on('switch(recipes_isoff)', function(data) {
                // 数据
                var obj = {};
                data.elem.checked ? obj['recipes_isoff'] = 2 : obj['recipes_isoff'] = 1;
                obj['recipes_id'] = data.elem.id;

                // 异步传输
                $.ajax({
                    type: "post",
                    url: "changeStatus",
                    data: obj,
                    success: function(d) {
                        if (d.code == 1) {
                            layer.msg(d.msg, {
                                icon: 1,
                                time: 1300
                            });
                        } else {
                            data.elem.checked = false;
                            form.render('checkbox'); //刷新按钮渲染
                            layer.msg(d.msg, {
                                icon: 2,
                                time: 1300
                            });
                        }
                    }
                })
            });

            //执行渲染
            var sTable = table.render({
                elem: '#test' //指定原始表格元素选择器（推荐id选择器）
                    ,
                url: "fyList",
                method: "post",
                page: true,
                toolbar: '#toolbarDemo',
                limit: 20,
                limits: [20],
                cols: [
                        [{
                            field: 'recipes_id',
                            title: "ID",
                            sort: true
                        }, {
                            field: 'recipes_name',
                            width: 180,
                            title: "妇幼营养名称"
                        }, {
                            field: 'fytype_name',
                            title: "类别"
                        }, {
                            field: 'recipes_isoff',
                            title: "是否下架",
                            width: 100,
                            toolbar: '#check'
                        }, {
                            title: "操作",
                            width: 200,
                            toolbar: '#fun'
                        }]
                    ] //设置表头
            });
            //监听下拉列表
            form.on('select(one)', function(data) {
                if (data.value) {
                    $.ajax({
                        type: "post",
                        url: 'fytype',
                        data: {
                            fytype_id: data.value
                        },
                        success: function(d) {
                            if (d.code == 1) {
                                // 渲染二级下拉菜单
                                $("#two option:not(:eq(0))").empty(); // 清除第一个之外的所有option
                                $.each(d.fytype, function(index, item) {
                                    console.log(1);
                                    $('#two').append("<option value='" + item.fytype_id + "'>" + item.fytype_name + "</option>"); // 下拉菜单里添加元素
                                });
                                layui.form.render("select", "twotop");
                            } else {
                                // 重新渲染select
                                layui.form.render("select");
                                layer.msg(d.msg, {
                                    icon: 2,
                                    time: 1300
                                })
                            }
                        }
                    })
                } else {
                    // 重新渲染所有select
                    layui.form.render("select");
                }

            });
            //监听下拉列表
            form.on('select(two)', function(data) {
                if (data.value) {
                    $.ajax({
                        type: "post",
                        url: 'fytype',
                        data: {
                            fytype_id: data.value
                        },
                        success: function(d) {
                            if (d.code == 1) {
                                // 渲染二级下拉菜单
                                $("#three option:not(:eq(0))").empty(); // 清除第一个之外的所有option
                                $.each(d.fytype, function(index, item) {
                                    console.log(1);
                                    $('#three').append("<option value='" + item.fytype_id + "'>" + item.fytype_name + "</option>"); // 下拉菜单里添加元素
                                });
                                layui.form.render("select", "threetop");
                            } else {
                                // 重新渲染select
                                layui.form.render("select");
                                layer.msg(d.msg, {
                                    icon: 2,
                                    time: 1300
                                })
                            }
                        }
                    })
                } else {
                    // 重新渲染所有select
                    layui.form.render("select");
                }

            });
            //监听下拉列表
            form.on('submit(search)', function(data) {
                sTable.reload({
                    where: data.field,
                    page: {
                        curr: 1
                    }
                });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });

        });
</script>

</html>