{include file='public/header'}

<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">
                <div class="layui-form-item">
                    <label for="yyname" class="layui-form-label">
                          <span class="x-red"></span>分类名称
                      </label>
                    <input type="hidden" name="yytype_id" value="{$yytype.yytype_id}">
                    <div class="layui-input-inline">
                        <input type="text" id="typename" name="yytype_name" required="" lay-verify="required" autocomplete="off" class="layui-input" value="{$yytype.yytype_name}">
                    </div>

                </div>

                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                      </label>
                    <button class="layui-btn" lay-filter="update" lay-submit="">
                          更新
                      </button>
                </div>
            </form>
        </div>
    </div>
    <script>
        layui.use(['form', 'layer'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                    layer = layui.layer;

                //自定义验证规则
                form.verify({
                    nikename: function(value) {
                        if (value.length < 5) {
                            return '昵称至少得5个字符啊';
                        }
                    },
                    pass: [/(.+){6,12}$/, '密码必须6到12位'],
                    repass: function(value) {
                        if ($('#L_pass').val() != $('#L_repass').val()) {
                            return '两次密码不一致';
                        }
                    }
                });

                //监听提交
                form.on('submit(update)',
                    function(data) {
                        console.log(data);
                        //发异步，把数据提交给php
                        $.ajax({
                            type: "post",
                            url: "yyTypedetail",
                            data: data.field,
                            success: function(d) {
                                if (d.code == 1) {
                                    layer.msg("更新成功", {
                                        icon: 1,
                                        time: 1300
                                    }, function() {
                                        //关闭当前frame
                                        xadmin.close();
                                        xadmin.father_reload();

                                    });
                                } else {
                                    layer.msg(d.msg, {
                                        icon: 2,
                                        time: 1300
                                    });
                                }
                            }
                        });

                        return false;
                    });

            });
    </script>
</body>

</html>