{include file="public/header" /}

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">用户管理</a>
                <a>
                    <cite>用户列表</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>
    <div class="layui-fluid">

        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form layui-form-pane layui-col-space5">
                            <div class="layui-inline">
                                <select name="usertype_id" id="usertype" lay-filter="name_num">
                                    	<option value="">所有用户</option>
                                    	{volist name="usertype" id="vo"}
									  	<option value="{$vo.usertype_id}">{$vo.usertype_name}</option>
									  	{/volist}
									</select>
                            </div>
                            <div class="layui-inline">
                                <input type="text" id="user_name" name="user_name" placeholder="请输入用户姓名" autocomplete="off" class="layui-input"></div>
                            <div class="layui-inline">
                                <button class="layui-btn" lay-filter="search" lay-submit="">
                                        <i class="layui-icon">&#xe615;</i></button>
                            </div>
                        </form>


                        <table class="layui-table" id="test" lay-filter="test">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/html" id="toolbarDemo">
    <button class="layui-btn" lay-event='addUser'><i class="iconfont">&#xe6b9;</i>添加</button>
</script>
<!--  
<script type="text/html" id="check">
    {{# if(d.user_audit == 1){ }}
    <span class="layui-badge layui-bg-gray">无需审核</span> {{# }else if(d.user_audit == 2){ }}
    <span class="layui-badge layui-bg-blue">等待审核</span> {{# }else if(d.user_audit == 3){ }}
    <span class="layui-badge layui-bg-green">审核通过</span> {{# } else { }}
    <span class="layui-badge">审核未通过</span> {{# } }}


</script>
-->
<script type="text/html" id="fun">
    <!-- {{# if(d.user_audit != 1){ }}
    <button class="layui-btn layui-btn-xs" lay-event="check">审核</button> {{# } else { }}
    <button class="layui-btn layui-btn-disabled layui-btn-xs" lay-event="check" disabled>审核</button> {{# } }}
-->
    <button class="layui-btn layui-btn-xs" lay-event="show">查看</button>
    <button class="layui-btn layui-btn-xs layui-btn-danger" lay-event="del">删除</button>
</script>
<script>
    layui.use(['table', 'form', 'jquery'],
        function() {
            var table = layui.table;
            var form = layui.form;
            var $ = layui.jquery;

            // 监听头部工具栏---添加用户
            table.on('toolbar(test)', function(obj) {
                    if (obj.event == "addUser") {
                        layer.open({
                                type: 2,
                                content: "userAdd",
                                area: ['800px', '90%'],
                                end: function() {
                                    // 重载表格数据
                                    sTable.reload({
                                        page: {
                                            curr: 1
                                        }
                                    });
                                }
                            }) //open
                    }
                })
                // 监听右侧列工具栏---查看用户
            table.on('tool(test)', function(obj) {
                //console.log(obj);
                if (obj.event == "show") {
                    layer.open({
                        type: 2,
                        content: "userDetail?user_id=" + obj.data.user_id,
                        area: ['800px', '90%']
                    })
                } else if (obj.event == "check") {
                    layer.open({
                        type: 2,
                        content: "userCheck?user_id=" + obj.data.user_id,
                        area: ['800px', '90%']
                    })
                } else if (obj.event == "del") {
                    layer.confirm('确定要删除吗?', function(index) {
                        $.ajax({
                            type: "post",
                            url: "userDel",
                            data: {
                                user_id: obj.data.user_id
                            },
                            success: function(d) {
                                if (d.code == 1) {
                                    layer.msg(d.msg, {
                                        icon: 1,
                                        time: 1300
                                    });
                                    obj.del();
                                } else {
                                    layer.msg(d.msg, {
                                        icon: 2,
                                        time: 1300
                                    });
                                }
                            }
                        });
                        layer.close(index);
                    });
                }
            })

            //执行渲染
            var sTable = table.render({
                elem: '#test' //指定原始表格元素选择器（推荐id选择器）
                    ,
                url: "userList",
                method: "post",
                page: true,
                toolbar: '#toolbarDemo',
                limit: 20,
                limits: [20],
                cols: [
                        [{
                            field: 'user_id',
                            title: "ID",
                            sort: true
                        }, {
                            field: 'user_name',
                            width: 100,
                            title: "姓名",
                        }, {
                            field: 'user_phone',
                            width: 140,
                            title: "手机号"
                        }, {
                            field: 'usertype_name',
                            width: 100,
                            title: "用户类别"
                        }, {
                            field: 'user_address',
                            title: "工作地址"
                        }, {
                            field: 'user_years',
                            width: 100,
                            title: "工作年限"
                        }, {
                            title: "操作",
                            width: 200,
                            toolbar: '#fun'
                        }]
                    ] //设置表头
            });

            // 监听提交事件
            form.on('submit(search)', function(data) {

                sTable.reload({
                    where: data.field,
                    page: {
                        curr: 1
                    }
                });
                console.log(data);
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });

        });
</script>

</html>