{include file="public/header" /}

<body>
    <div class="x-nav">
        <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">订单管理</a>
                <a>
                    <cite>订单列表</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>
    <div class="layui-fluid">

        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form layui-form-pane layui-col-space5">
                            <div class="layui-inline">
                                <select name="order_status" id="order_status" lay-filter="name_num">
                                    	<option value="">订单状态</option>
                                    	<option value="1">等待支付</option>
                                    	<option value="2">支付成功</option>
                                    	<option value="3">支付失败</option>
                                    	
									</select>
                            </div>
                            <div class="layui-inline">
                                <input type="text" id="user_name" name="user_name" placeholder="请输入用户姓名" autocomplete="off" class="layui-input"></div>
                            <div class="layui-inline">
                                <button class="layui-btn" lay-filter="search" lay-submit="">
                                        <i class="layui-icon">&#xe615;</i></button>
                            </div>
                        </form>


                        <table class="layui-table" id="test" lay-filter="test">

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/html" id="check">
    {{# if(d.order_status == 1){ }}
    <span class="layui-badge layui-bg-gray">待支付</span> {{# }else if(d.order_status == 2){ }}
    <span class="layui-badge layui-bg-blue">支付成功</span> {{# } else { }}
    <span class="layui-badge">支付失败</span> {{# } }}


</script>

<script>
    layui.use(['table', 'form', 'jquery'],
        function() {
            var table = layui.table;
            var form = layui.form;
            var $ = layui.jquery;


            //执行渲染
            var sTable = table.render({
                elem: '#test' //指定原始表格元素选择器（推荐id选择器）
                    ,
                url: "orderList",
                method: "post",
                page: true,
                toolbar: '#toolbarDemo',
                limit: 20,
                limits: [20],
                cols: [
                        [{
                            field: 'order_id',
                            title: "ID",
                            sort: true
                        }, {
                            field: 'user_name',
                            title: "用户姓名",
                            
                        }, {
                            field: 'na',
                            title: "已购项目名称",
                        }, {
                            field: 'create_time',
                            title: "订单创建时间"
                        }, {
                            field: 'order_status',
                            title: "订单状态",
                            toolbar: '#check'
                        }]
                    ] //设置表头
            });
            
            
         	// 监听提交事件
            form.on('submit(search)', function(data) {

                sTable.reload({
                    where: data.field,
                    page: {
                        curr: 1
                    }
                });
                console.log(data);
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });

        });
</script>

</html>